.map-page.clearfix
  .map-controls.col-md-4
    .input-group
      %input.search-input.form-control{type: "text"}
      %span.input-group-btn
        %button.search-btn.btn.btn-default{type: "button"}
          %span.glyphicon.glyphicon-search

    %h2
      Map Filtering Options

    .filter-container
      %h3 locality
      %select#locality-select{multiple: "true"}
        %option test
        %option hest
        %option hesnfdsaf
        %option hesdafdast
        %option hesdafdasfdasdfsa

      %h3 type
      %select#type-select{multiple: "true"}
        %option test
        %option hest
        %option hesnfdsaf
        %option hesdafdast
        %option hesdafdasfdasdfsa

  .main-map.map-container.col-md-8
    #map

- content_for :scripts do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"
  = javascript_include_tag "markers"
  %script(type="application/dart" src="/dart/web/mapengine.dart")
  = javascript_include_tag "dart_helpers"

