.main-map.map-container
  #map

- content_for :scripts do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"
  = javascript_include_tag "markers"
  %script(type="application/dart" src="/dart/web/mapengine.dart")
  = javascript_include_tag "dart_helpers"

