// @import "variables";
@import "compass/typography";
@import "compass/support";

// vertical rythm
$base-font-size: 14px;
$base-line-height: 20px;
$relative-font-sizing: true;


// UI
$beige: #c4af89;

$font-headings: 'Racing Sans One', cursive;
$font-text: 'Raleway', sans-serif;

@mixin image-text-replacement {
  display: block;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@mixin floatfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin text-stroke {
  -webkit-text-stroke: .5px;
}

