// Main stylesheet for map styling

.map-container {
  // fix for marker issues
  label {
    width: auto;
    display: inline
  }
  img {
    max-width: none;
  }
}

.main-map {
  float: left;

  &.map-container {
    height: 80%;
    width: 70%;
  }

  #map {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    height: 100%;
  }
}

.map-controls {
  float: left;
  padding: 0 30px;
  width: 30%;

  h3 {
    text-align: center;
  }
}

