%ul.nav.navbar-nav.navbar-right
  %li
    %a{"data-target" => "intro", href: "/"} Intro
  %li
    %a{"data-target" => "features", href: "/"} Features
  %li
    %a{"data-target" => "benefits", href: "/"} Benefits
  %li
    %a{"data-target" => "customers", href: "/"} Satisfied Customers
  %li
    %a{href: "mapengine_demo.html"} Try DEMO



