%ul.nav.navbar-nav.navbar-right
  %li
    %a{"data-target" => "intro", href: "#{root_path}#intro"} Intro
  %li
    %a{"data-target" => "features", href: "#{root_path}#features"} Features
  %li
    %a{"data-target" => "benefits", href: "#{root_path}#benefits"} Benefits
  %li
    %a{"data-target" => "customers", href: "#{root_path}#customers"} Satisfied Customers
  %li
    %a{href: "https://docs.google.com/presentation/d/1WxBzEhd8n6Ic3f40doEvDBiS0anucQ0Sf7SM-cAEv7E/pub?start=true&loop=false&delayms=10000",
      target: "_blank"} Tutorial
  %li
    %a{href: markers_path} MapEngine Live
  %li
    %a{href: admin_root_path} MapEngine Admin



